html {
    height: 100%;
}
body {
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", sans-serif;
    height: 100%;
}


.nav {
    padding: 0;
    margin: 0;
    width: 100%;
    position:fixed;
    border: 1px solid black;
    list-style: none;
    background-color: lightgray;
    top: 0;
    
}

.nav li {
    
    float:left;
    display:block;
    border-right: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.nav .menu {
    float: right;
    border-left: 1px solid black;
}

.nav .menu:hover {
    
}

.nav li:hover {
    background-color: gray;
}

.main {
    margin-top: 42px;
    white-space: nowrap;
    height: 100%;
    max-height: 100%;
}

.lol {
    list-style: none;
    padding: 10px 10px;
    max-height: 100%;
    height: 100%;
}

.lol > li {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    background-color: lightgray;
    border-radius: 0.3em;
    border: 1px black solid;
    text-align: center;
    margin: 10px;
    max-height: 550px;  
    
    
}
.card-list {
    padding: 0;
    margin: 5px;
    max-height: 500px;
    overflow: scroll;
}
.card-list li {
    list-style: none;
    margin: 5px;
}

.card-list a:hover {
    background-color: gray;
    color: white;
}

.card-list a {
    color:black;
    display: block;
    padding: 15px;
    background-color:ghostwhite;
    border-radius: 0.3em;
    text-decoration: none;
    
}

.card {

    width: 50%;
    margin: 0 auto;
    border: 1px black solid;
    background-color: ghostwhite;
    padding-left: 10px;
    border-radius: 0.3em;
}

.card h3 {
    margin: 0;
}

.card a {
    color: black;
    text-decoration: none;
}

#label {
    margin: 0;
    padding: 0;
    display:inline-block;
    list-style: none;
}

#label li {
    display: inline-block;
    border-radius: 0.3em;
    padding: 5px;
}

.inline {
    display:inline-block;
}

.member-list a {
    display: inline-block;
    padding: 8px;
    margin: 2px;
    background-color: palegreen;
    border-radius: 0.3em;
}

.edit {
    display: inline-block;
    padding: 8px;
    margin: 2px;
    background-color: lightgray;
    border-radius: 0.3em;
}

.member-list a:hover {
    background-color: limegreen;
}



