<!DOCTYPE html>

<html>
<head>
    <title>Prello</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<body>

        <ul class="nav">
        <li>My Account</li>
        <li class="hover-list">
            Boards
                <div class="nav-board-list">
                <h2>Personal Boards</h2>
                <ul>
                    <li>sdfsd</li>
                    <li>Google</li>
                    <li>Facebook</li>
                    <li>Amazon</li>
                </ul>

                <p>Add New Board</p>
    </div>
        </li>
        <li>Home</li>
        <li id='navbar-logo'>Prello</li>
        <li class='sign-out clickable'>Sign Out</li>
        <li class="menu clickable">
            Menu
        </li>

    </ul>
    <div class="board-list">
    <h3>Personal Boards</h3>

    <ul class='boards'>
        <li>
            <form>

                <button class='board' formaction="/board" formmethod="GET">API</button>
            </form>

        </li>


    </ul>
        <button class='add-board'>Add Board</button>
    </div>

    <script src='javascripts/script2.js'></script>

    </body>
</html>
