<!doctype html>

<html>
<head>
    <title>Prello</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h1 class="title">Prello</h1>
    <div class="user-form">
    <div class="reg-login forgot">
        <h2>Forgot Password</h2>
        <p class='direction'>Please enter your email. You will receive a link to reset your password.</p>
        <form class='password-form' method="post" action='/reset/checkemail'>
            Email
            <input class='textbox' type="email" name="email" required>
            <p class='email-error'> <%=emailError%> </p>
            <input class='green-button' type="submit">
    </form>

    <script src='/javascripts/forgotpassword.js'></script>
</body>
