<!DOCTYPE html>

<html>
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style3.css">
    <meta name='username' content='<%= user.username %>'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<body>

        <ul class="nav">
        <li>My Account</li>
        <li class="hover-list">
            Boards
                <div class="board-list">
                <h2>Personal Boards</h2>
                <ul>
                    <li>API</li>
                    <li>Google</li>
                    <li>Facebook</li>
                    <li>Amazon</li>
                </ul>

                <p>Add New Board</p>
    </div>
        </li>
        <li>Home</li>
        <li id='navbar-logo'>Prello</li>
        <li class='sign-out clickable'>Sign Out</li>
        <li class="menu clickable">
            Menu
        </li>
    </ul>
