<!doctype html>

<html>
<head>
    <title>Prello</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<body>
    <h1 class="title">Prello</h1>
    <div class="user-form">
    <div class="reg-login">
        <h2>Create Account</h2>
        <form id="create-account">
            Username
            <input class='textbox' type="text" name="username" required>
            Email
            <input class='textbox' type="email" name="email" required>
            Password
            <input class='textbox' id="password-create" type="password" name="password">
            Confirm Password
            <input class='textbox' id="confirm-create" type="password" name="confirm">
            <input class='green-button' type="submit">
    </form>
    </div>

        <div class="reg-login">
        <h2>Login</h2>
        <form id="login" action='/create/signin' method='POST'>
            Username
            <input class='textbox' id='login-user' type="text" name="username" required>
            Password
            <input class='textbox' id='login-pass' type="password" name="password" required>
            <div class="remember-me">
                <p>Remember Me</p> <input type="checkbox" name="rem-me">
            </div>
            <input class='green-button' type="submit">
    </form>
    </div>
    </div>

    <script src="/javascripts/script.js"></script>
    </body>
</html>
