<!doctype html>

<html>
<head>
    <title>Prello</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h1 class="title">Prello</h1>
    <div class="user-form">
    <div class="reg-login forgot">
        <h2>Reset Password</h2>
        <p class='direction'>Enter your new password now.</p>
        <form>
            <p class='password-error'>Password do not match!</p>
            Password
            <input class='textbox' id="password-create" type="password" name="password">
            Confirm Password
            <input class='textbox' id="confirm-create" type="password" name="confirm">
            <input class='green-button' type="submit">
        </form>
    <script src='/javascripts/resetpassword.js'></script>
</body>
