<!doctype html>

<html>
<head>
    <title>Prello</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h1 class="title">Prello</h1>
    <div class="user-form">
    <div class="reg-login forgot">
        <h2>Reset Password Link</h2>
        <form>
            <button id='link-btn' formaction="<%=url%>" formmethod="GET">Click here to reset password</button>
        </form>
</body>
