<!doctype html>

<html>
<head>
    <title>Prello</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h1 class="title">Prello</h1>
    <div class='reset-confirm'>
        <h2>Reset Password Confirmation</h2>
        <p>You have successfuly reset the password for your Prello account!</p>
        <form>
            <button class='green-button' formaction="/" formmethod="GET">Click here to login</button>
        </form>
    </div>
</body>
